* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Noto Sans', sans-serif;
    outline: none;

}

body {
    background: url("img/corintian\ background.jpg");
    
}

.container {
    background-color: #d2dcf9;
    width: 500px;
    margin-top: 200px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    -webkit-box-shadow: -1px 0px 58px -11px rgba(118, 76, 232, 1);
    -moz-box-shadow: -1px 0px 58px -11px rgba(118, 76, 232, 1);
    box-shadow: -1px 0px 58px -11px rgba(118, 76, 232, 1);
    opacity: 0.8;
}

.input {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px
}

.botao {
    border-radius: 10px;
    border: none;
    height: 40px;
    background-color: #003329;
    color: #ffff;
    font-size: 17px;
    padding: 10px;
    margin: auto 40px;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.8;
}

.botao:active {
    opacity: 0.6;
}

img {
    height: 25px;
    opacity: 0;
}

img:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;

}

.lista {
    width: 100%;
    list-style-type: none;
    margin-top: 15px;
}

.itens-lista {
    background-color: #78acf5;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}